/* 
font-size: 62.5%, 2.4rem, 3.2rem, 4.8rem
font-weight: 500, 600, 700

color:#444, #fff, #7ffd00, #000, #eedca0
background-color:#263238, #f57c00, #0c025d, #a39f94,  #eceff1, #b6c1cc

primary color:

padding:2rem, 0.6rem, 1.6rem, 3.8rem
 */
